
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-color: #ffdee9;
  position: relative;
}


.form-container .image-column {
  flex: 1; 
  max-width: 50%; 
}


.form-container .image-column img {
  width: 100%;
  height: auto;
  border-radius: 8px; 
}


.form-container .form-column {
  flex: 1; 
  max-width: 50%; 
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  height: fit-content;
}

.form-container .form-column .title {
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.form-container .form-column input {
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin-bottom: 15px;
}

.form-container .form-column button {
  border: 1px solid black;
  border-radius: 0;
  background-color: #000;
  color: white;
  width: 100%; 
}

.form-container .form-column button:hover {
  border: 1px solid black;
  background: #000000; 
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); 
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); 
}

.forgot-btn {
  background-color: #434343a4 !important;
  border: 0 !important;
}

.forgot-btn:hover {
  color: white !important;
}
